{% extends 'base.html'%}

{% block content %}

<h2>Наші кімнати</h2>

<div class="rooms-list">
    {% for room in room_list %}
    <div class="card" style="max-width: 25rem;">
        <img src="{{room.picture.url}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <p class="card-text">{{room.price}} грн</p>
            <a href="{% url 'booking_page' room.id %}" class="btn btn-primary">Забронювати</a>
        </div>
    </div>
    {% empty %}
    <div class="list-group-item"> Немає кімнат. </div>
    {% endfor %}
</div>


{% endblock %}